name: Test galtab

on:
  workflow_dispatch: null
  schedule:
    # Runs "every Monday & Thursday at 3:05am Central"
    - cron: '5 8 * * 1,4'
  push:
    # all branches
    # branches:
    #   - main
  pull_request: null

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: test${{ matrix.python-version}}
        python-version: ${{ matrix.python-version }}
        channels: conda-forge,defaults
        channel-priority: strict
        show-channel-urls: true
        miniforge-version: latest
        miniforge-variant: Mambaforge
        use-mamba: true

    - name: Install dependencies
      shell: bash -l {0}
      run: |
        mamba install -yq jax 
        mamba install -yq pip pytest pytest-cov flake8

    - name: Install package
      shell: bash -l {0}
      run: |
        pip install -e .

    - name: Run tests
      shell: bash -l {0}
      run: |
        pytest -v --cov=galtab/
